/*----------------------------------------------------------------------------
 shared
 ---------------------------------------------------------------------------*/
.flashsale ul.product_list.owl-carousel .product-name {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.flashsale ul.product_list.owl-carousel .availability span {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px 4px 8px;
    margin-bottom: 20px;
}

.flashsale ul.product_list.owl-carousel .color-list-container {
    margin-bottom: 12px;
}

 .flashsale ul.product_list.owl-carousel .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4;
    width: 26px;
    height: 26px;
}

.flashsale ul.product_list.owl-carousel .color-list-container ul li a {
    display: block;
    width: 22px;
    height: 22px;
    margin: 1px;
}

.flashsale ul.product_list.owl-carousel .color-list-container ul li a img {
    display: block;
    width: 22px;
    height: 22px;
}

.flashsale ul.product_list.owl-carousel .product-image-container {
    text-align: center;
}

.flashsale ul.product_list.owl-carousel .product-image-container img {
    margin: 0 auto;
}

.flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile {
    display: none;
}

.flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
    display: none;
}

@media (max-width: 1199px) {
    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
        display: block;
        position: relative;
        background-color: rgba(208, 208, 211, 0.57);
        height: 130px;
        width: 85px;
        top: 80px;
        right: -162px;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        zoom: 1;
        pointer-events: all;
    }

    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i {
        position: relative;
        top: 48px;
        left: -20px;
        font-size: x-large;
        color: black;
    }

    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i:before {
        -moz-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }

    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile .quick-view-mobile:hover {
        background-color: rgba(167, 167, 167, 0.57);
    }

    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view-wrapper-mobile {
        display: block;
        background-color: transparent;
        height: 155px;
        width: 215px;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
        bottom: 0px;
        right: 0px;
    }
}

.flashsale ul.product_list.owl-carousel .product-image-container .quick-view {
    font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 43px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
}

@media (max-width: 1199px) {
    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view {
        display: none;
    }
}

@media (min-width: 1200px) {
    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view {
        display: none;
    }
}

@media (max-width: 767px) {
    .flashsale ul.product_list.owl-carousel .product-image-container .quick-view {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel .comments_note {
    text-align: left;
    overflow: hidden;
}

.flashsale ul.product_list.owl-carousel .comments_note .star_content {
    float: left;
}

.flashsale ul.product_list.owl-carousel .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic;
}

.flashsale ul.product_list.owl-carousel .functional-buttons div a,
.flashsale ul.product_list.owl-carousel .functional-buttons div label {
    font-weight: bold;
    color: #777676;
    cursor: pointer;
}

.flashsale ul.product_list.owl-carousel .functional-buttons div a:hover,
.flashsale ul.product_list.owl-carousel .functional-buttons div label:hover {
    color: #000;
}

.flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist {
    border-right: 1px solid #d6d4d4;
}

.flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f08a";
    margin-right: 3px;
    padding: 0 3px;
}

.flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist a.checked:before {
    content: "\f004";
}

@media (min-width: 992px) and (max-width: 1199px) {
    .flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist {
        border-right: 0;
    }

    .flashsale  ul.product_list.owl-carousel .functional-buttons div.wishlist a:before {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist {
        border-right: 0;
    }

    .flashsale ul.product_list.owl-carousel .functional-buttons div.wishlist a:before {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel .functional-buttons div.compare a:before {
    content: "\f067";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 3px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .flashsale ul.product_list.owl-carousel .functional-buttons div.compare a:before {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .flashsale ul.product_list.owl-carousel .functional-buttons div.compare a:before {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel .functional-buttons div.compare a.checked:before {
    content: "\f068";
}

/*******************************************************
Product list(Grid) Styles
********************************************************/
.flashsale ul.product_list.owl-carousel.owl-carousel li.ajax_block_product {
    padding-bottom: 20px;
    text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product {
        width: 50%;
        float: left;
    }
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container {
    background: #fff;
    padding: 0;
    position: relative;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-image-container {
    border: 1px solid #d6d4d4;
    padding: 9px;
    margin-bottom: 13px;
    position: relative;
}

@media (max-width: 767px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-image-container {
        margin-left: auto;
        margin-right: auto;
    }
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-image-container .content_price {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: #474747;
    padding: 9px 0;
    display: none;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-image-container .content_price span {
    color: #fff;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-image-container .content_price span.old-price {
    color: #b1b0b0;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container h5 {
    padding: 0 15px 7px 15px;
    min-height: 53px;
}

@media (min-width: 1200px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .comments_note {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .comments_note .star_content {
    margin: 0 3px 12px 59px;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-desc {
    display: none;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .content_price {
    padding-bottom: 9px;
    line-height: 21px;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .old-price,
.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .price,
.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .price-percent-reduction {
    display: inline-block;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .product-flags {
    display: none;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .old-price {
    margin-right: 5px;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .button-container {
    margin-bottom: 5px;
}

@media (min-width: 1200px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .button-container {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .button-container .ajax_add_to_cart_button,
.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .button-container span.button,
.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .button-container .lnk_view {
    margin: 0 6px 5px 6px;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .functional-buttons {
    background: url(../../img/functional-bt-shadow.png) repeat-x;
    padding: 11px 0 5px;
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .functional-buttons {
    display: none;
}

@media (min-width: 1200px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .functional-buttons {
        display: none;
    }
}

.flashsale ul.product_list.owl-carousel li.ajax_block_product .product-container .functional-buttons div {
    width: 50%;
    float: left;
    padding: 3px 0 4px 0;
}

@media (min-width: 1200px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container {
        -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        position: relative;
        z-index: 10;
    }

    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .content_price {
        display: none;
    }

    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .product-image-container .content_price {
        display: block;
    }

    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .product-image-container .quick-view {
        display: block;
    }

    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .functional-buttons,
    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .button-container,
    .flashsale ul.product_list.owl-carousel li.ajax_block_product:hover .product-container .comments_note {
        display: block;
    }
}

@media (min-width: 992px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product.first-in-line {
        clear: left;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    .flashsale ul.product_list.owl-carousel li.ajax_block_product.first-item-of-tablet-line {
        clear: left;
    }
}

.flashsale ul.product_list.owl-carousel li:hover h5 {
    min-height: 30px;
}
