
#header {
    min-width: 100% !important;
    max-width: 100% !important;

}

@media screen and (orientation: portrait) {#header{min-width:inherit}}
#collapseDetailsControl .list_buttons .prepare_product
{
    display: none;
}

.form-inline .input-group input {
    /*width: 100% !important;*/
    padding: 9px 12px !important;
}
.panel-heading
{
    background: #E2E2E2;
}

#errors_container .alert-success
{
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}



.icon-barcode:before {content:"\f02a"}
.icon-check:before,#content .process-icon-ok:before {content:"\f00c"}

#searchProducts .list-group-item
{
    padding: 2px 5px;
    font-size: 1.5em;
    font-weight: bolder;
}
#searchProducts .infos-products td:first-child
{
    font-size: 1em;
}
#searchProducts .infos-products th,
#searchProducts .infos-products td
{
    padding: 4px 5px;
    font-size: 14px;
    font-weight: bolder;
}
.infos-products th,
.infos-products td
{
    height: 35px;
}
.product_prepare_container
{
    /*height: 660px;*/
}
@media (max-width: 1024px)
{
    .infos-products th
    {
        height: 60px
    }
}

.add_to_cart,
#productscategory,
#idTab_accessoires
{
    display: none !important;
}
.btn-list-order span
{
    margin-right: 5px;
}
.btn-list-order img
{
    width: 40px;
    height: 40px;
}

#showControlsContent
{
    overflow: scroll;
}
#producttoprepare .caption {
    padding: 0 !important;
}
#producttoprepare .thumbnail {
    margin: 0 !important;
}
.poste_controle {
    display: inline-block;
    padding: 0 8px;
}

.block_scan {
    float: right;
}
.info_com
{
    display: inline-block;
}
.sub_info_com
{
    display: inline-block;
}
.button_com
{
    display: inline-block;
    vertical-align: top;
}
.badge 
{
    color:#fff !important;
}
div#delivery_address {
    padding: 15px;
    margin-bottom: 10px;
}